<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专家端-查看详细植物信息</title>
<style>
.center{margin:auto;width:40%;background:url(/static/bgPic/bj4.gif);padding: 1.5cm}
h1{font-size:60px;font-family:STKaiti;}
</style>
</head>

{% load staticfiles %}<body background="/static/bgPic/main_bj.gif">
    <h1 align="center"><b>植物识别系统</b></h1>
    <div class="center"> 
    	<table border="1" bordercolor="black" align="center">
            {{describe}} 	
            <tr>
            	<td><img src="{{image1}}" height="200" width="250"/></td>
                <td><img src="{{image2}}" height="200" width="250"/></td>
            </tr>                        
        </table>
    </div>
    
    
</body>
</html>
